node_modules
dist
dist-ssr
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Electron 相关
dist-electron
release
*.exe
*.dmg
*.AppImage
*.deb
*.rpm

# Electron 构建缓存
out
build/cache
